---

const { title, keywords, author, excerpt } = Astro.props;

var titleWhole = "VGBS";
if (title) {
  titleWhole += " - "+title;
}

import logoQuad from "@assets/for_site/logoQuad.png";
import favicon16 from "@assets/for_site/favicon/favicon-16x16.png";
import favicon32 from "@assets/for_site/favicon/favicon-32x32.png";
import faviconApple from "@assets/for_site/favicon/apple-touch-icon.png";

//console.log("favicon16");
//console.log(favicon16);


---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="author" content={author ||  "proximus habitat"} />
<meta name="keywords" content="Eisenbahn, Verein, historisch, Triebwagen, bls, gbs, Bern, museal" />
<meta name="description" content={excerpt}>
<meta
  property="og:image"
  content={logoQuad.src} />
<meta
  property="og:description"
  content={excerpt} />
<meta property="og:title" content={titleWhole}/>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

<title>VGBS {title && " - "+title}</title>
<!-- Favicon guidelines generated with https://favicon.io/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={faviconApple.src}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={favicon32.src}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href={favicon16.src}
/>
<link rel="manifest" href="/favicons/site.webmanifest" />
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#0000ff" />
<meta name="msapplication-TileColor" content="#0000ff" />
<meta name="theme-color" content="#0000ff" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

</style>